* {
  margin: 0;
  font-family: 'Jura', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: red;
  padding: 1rem;
}

.inventory-block {
  background-color: greenyellow;
}
